
@{
    ViewData["Title"] = "NewUserView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create new user</h2>

<form method="post" action="@Url.Action("GetAll", "Order")">

    <label>
        <input type="text" name="student_name" value="" placeholder="Student Name" />
    </label> <br />
    <label>

    </label><br />
    <label>

    </label><br />
    <label>

    </label><br />
    <label>

    </label><br />
    <label>

    </label><br />
    <label>

    </label><br />
    <label>

    </label><br />
    <label>

    </label><br />
    <label>

    </label><br />
    <label>

    </label>
    <input type="submit" value="Add new user!" /> <br />


</form>

