@model CentiroTaskMVC.Models.Connect

@{
    ViewData["Title"] = "GetByOrderNumber";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetByOrderNumber</h2>

<h2>Orders for each order number</h2>
<table>
    <tr>
        @foreach (var orderColumn in ViewBag.SpecificOrderTable.Columns)
        {
            <th>@orderColumn.ColumnName</th>
        }
    </tr>
    @foreach (var orderRow in ViewBag.SpecificOrderTable.Rows)
    {
        <tr>
            @for (int i = 0; i < ViewBag.SpecificOrderTable.Columns.Count; ++i)
            {
                <td>@orderRow[i]</td>
            }
        </tr>
    }
</table>

