@model CentiroTaskMVC.Models.Connect


@{
    ViewData["Title"] = "SearchView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order search</h2>


<form method="post" action="@Url.Action("GetOrderNumber", "Order")">
    <h4>Select order number...</h4><br />
   
                               <select name="orderNumber">
                                   <option>-- Select ---</option>

                                   @foreach (var row in ViewBag.AllDistinctOrderNumbers.Rows)
                                   {
                                       <option value="@row["OrderNumber"]">@row["OrderNumber"]</option>
                                   }
                               </select><br/>
    <input type="submit" value="Get stats!" /> <br />


</form>

@Html.ActionLink("Return to home page", "Index", "Home", null, new { title = "Leave this page and return home" })


